.theme{
    margin-left:40px;
    position: relative;
    width: 1680px;
    height: 129px;
    background-image:url(../img/qztwbg.png);
    background-size:1680px 129px;
}
.greet-text{
    height:20px ;
    width:250px;
    color:rgb(251,252,255);
    position: relative;
    left: 80%;
    top: 75%;
}

.theme-text-chinese{
    width: 500px;
    height: 10px;
    position: absolute;
    top:46px;
    left: 58px;
}
.theme-text-english{
    width: 535px;
    height: 15px;
    position: absolute;
    bottom: 26px;
    left: 58px;
}
/*�����ǵ�һ��div��css����*/


.left-work-task{
    background-color:rgb(116,165,241);
    position: relative;
    top: 12px;
    left: 40px;
    height: 40px;
    width: 750px;
}
.introduce-table{
    width: 212px;
    height: 22px;
    position: absolute;
    left: 30px;
    padding-top: 10px;
}

.before-fault-number{
    width:295px;
    /*border: 1px solid green;*/
    height: 22px;
    padding-top: 10px;
    position: absolute;
    left: 55%;
}
.fault-number{
    position: absolute;
    top: 5px;
    left: 25px;
    width: 30px;
    height: 30px;
    line-height:30px;
    color:rgb(251,252,255);
    background: red;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
}
/*���������ֵ�������*/

.right-work-task{
    width:910px;
    background-color:rgb(116,165,241);
    height: 40px;
    position: relative;
    left: 810px;
    top:-28px;
}
.right-theme-text{
    position: absolute;
    width: 241px;
    height: 22px;
    left: 70%;
    top: 10px;
}
.right-fault-number{
    color:rgb(251,252,255);
    /*font-weight: bold;*/
    font-size: 18px;
    background: red;
    -moz-border-radius:30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 44%;
    top: -5px;
}
/*������ǰ��̨��ϵͳ��־*/

.left-table-div{
 /*   border: 1px solid green;*/
    width: 700px;
    position: relative;
    left: 60px;
    top: -10px;
}
.theme-tr{
    height: 40px;
    text-align: center;
    font-family: Microsoft JhengHei;
}
.theme-td{
    width: 190px;
 /*   height: 40px;*/
}
.blank-tr{
    height: 10px;
}
a{
    text-decoration:none ;
}
.border-th{
    border: 1px solid grey
}
/*����������������Ʊ��*/
.right-input{
    position: relative;
    left: 830px;
    top: -365px;
    font-size: 15px;
    font-family: "Microsoft JhengHei";
}
.rili{
    border:1px solid  grey;
    width: 30px;
    height:28px;
    position: relative;
    top:59px;
    left: 18%;
    line-height: 26px;
    background: rgb(199,199,200);
}
.rili2{
    border:1px solid  grey;
    width: 30px;
    height:28px;
    position: relative;
    top:30px;
    left: 26%;
    line-height: 26px;
    background: rgb(199,199,200);
}
.input-size{
    height: 25px;width: 110px;
}
.after-rili-div{

    width:25%;
    position: relative;
    left: 29%;
    top: -32px;
}
select{
    height: 25px;
    width: 80px;
    font-weight: bold;
    font-family: "Microsoft JhengHei";
}
.button-style{
    text-align: center;
    font-size: 18px;
    width: 70px;
    color: white;
    padding:3px;
    margin: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

